* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    border: 2px solid blue;
    max-width: 53rem;
    margin: 0 auto;
    height: 100vh;
}

header {
    padding-top: 2rem;
    text-align: center;
}

h1 {
    margin-bottom: .5rem;
}

h2 {
    font-size: 1rem;
}

fieldset,
.cards-container {
    margin: 0 auto;
}

fieldset {
    font-size: 1.5rem;
    height: 10rem;
    margin: 2rem auto;
    width: 80%;
    }

fieldset > div {
    margin: .5rem 0 .5rem 0;
    width: 100%;
}

#play-button {
    border-radius: 25px;
    font-size: 1.5rem;
    padding: .5rem;
    width: 7.5rem;
}

.cards-container {
    border: 2px solid fuchsia;
    height: 80vh;
    margin-top: 1rem;
    width: 95%;
}

.panda-card {
    height: 5rem;
    width: 5rem;
}

.hide-view {
    display: none;
}

